@font-face {
  font-family: "ComicBook";
  src: url("./fonts/Comic-Book.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Comic-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/Comic-Book.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/Comic-Book.woff") format("woff"), /* Modern Browsers */
  url("./fonts/Comic-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ComicBook-Bold";
  src: url("./fonts/Comic-Book-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Comic-Book-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/Comic-Book-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/Comic-Book-Bold.woff") format("woff"), /* Modern Browsers */
  url("./fonts/Comic-Book-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicBook-BoldItalic";
  src: url("./fonts/Comic-Book-Bold-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Comic-Book-Bold-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/Comic-Book-Bold-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/Comic-Book-Bold-Italic.woff") format("woff"), /* Modern Browsers */
  url("./fonts/Comic-Book-Bold-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicBook-Italic";
  src: url("./fonts/Comic-Book-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Comic-Book-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/Comic-Book-Italic.svg") format("svg"), /* Legacy iOS */
  url("./fonts/Comic-Book-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/Comic-Book-Italic.woff") format("woff"), /* Modern Browsers */
  url("./fonts/Comic-Book-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
