.frame-main{
  position:static;

  .background-video{
    position: absolute;
    min-width:90%;
    min-height:90%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}
