.App{
  scroll-behavior: smooth;
  overflow: scroll;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: unset;
  scroll-snap-align:initial;
  /*scroll-padding-top: 5vh;*/
  -ms-overflow-style: none;
  border: 10px solid #000;

  @include queryThis($lg){
    scroll-snap-type: unset;
    scroll-snap-stop: unset;
    scroll-snap-align: unset;
  }
}

.App::-webkit-scrollbar {
  display: none;
}

.App.no-scroll{
  overflow: hidden;
}
.snap {
  overflow: hidden;
  height: calc(100% + 20px);
  scroll-snap-align: start;
  position: relative;
  background-color: #000;

  @include queryThis($md){
    overflow: unset;
    scroll-snap-align: unset;
  }

  .continue{
    cursor:pointer;
    opacity: 0;
    width: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    z-index: 9;
    bottom: 7%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 5px solid #000;
    @include getShadow();
    animation: pulse 2s infinite;
    transition: all 0.3s ease;

    &.display{
      opacity: 0.6;
    }

    &:hover{
      opacity: 0.9;
    }

    img{
      width: 100%;
    }
  }
}

.auto-scroll .continue{
  display: none;
}

.viz{
  height: 100%;
  width: 100%;
}


.window .overlay{
  display: block;
  width: 110%;
  height: 110%;
  opacity: 0.2;
  background-color: #000;
  position: absolute;
  left: -5%;
  top: -5%;
  z-index: 5;
  transition: all 0.3s ease;

  &.played{
    opacity: 0.2;
  }
}

.window{
  top: 0px;
  box-sizing: border-box;
  border: 20px solid #000;
  height: 105vh;
  overflow: hidden;
  border-left-width: 10px;
  border-right-width: 10px;
  &:hover > .overlay{
    opacity: 0;
    visibility: hidden;
  }
/*
  img{
    transition: all 0.3s ease;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }

  &:hover img{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }*/
}

.skew-2-right{
  transform: skew(-2deg) rotate(1deg);
  -webkit-transform: skew(-2deg) rotate(1deg);
  -moz-transform: skew(-2deg) rotate(1deg);
}

.skew-4-left{
  transform: skew(4deg) rotate(1deg);
  -webkit-transform: skew(4deg) rotate(1deg);
  -moz-transform: skew(4deg) rotate(1deg);
}

.interactive{
  position: absolute;
  z-index: 98;
}

.auto-scroll .interactive{
  /*display: none;*/
}

.lift{
  margin-top: -20px;
  border-bottom: 20px solid #000;
  position: relative;
}



