.main-nav{
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: black;
  padding: 20px;
  width: 100vw;
  ul{
    display: inline-block;
    float: left;
    li{
      margin-right: 20px;
      display: inline-block;

      a{
        color: $white;
      }
    }
  }

  .vol-controls{
    position: absolute;
    right: 20px;
    display: inline-block;
    height: 100%;
    top: 0;
    padding: 8px;
    box-sizing: border-box;


    label{
      position: relative;
      font-size: 0.9em;
      color: $white;
      top: 0;
      line-height: 20px;
      width: 100%;
    }

    input{
      position: relative;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
    }
  }
}

body.presentation .main-nav{
  display: none;
}
