.App{
  overflow: scroll;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: unset;
  scroll-snap-align:initial;
  /*scroll-padding-top: 5vh;*/
  -ms-overflow-style: none;
  border: 10px solid #000;
}

.App::-webkit-scrollbar {
  display: none;
}

.App.no-scroll{
  overflow: hidden;
}
.snap {
  overflow: hidden;
  height: 100%;
  display: block;
  scroll-snap-align: start;
  position: relative;
  background-color: #000;
  padding: 20px 0;
}

.viz{
  height: 100%;
  width: 100%;
}

.mouse-parallax-image{
  position: absolute;
  padding: 0;
  margin: 0;
  height: 110vh;
  width: 110vw;
  left: -20px;
  top: -20px;
  img{
    min-width: 110%;
    min-height: 110%;
  }
}


.mouse-parallax-bg{
  position: absolute;
}

.mouse-parallax-mg{
  position: absolute;
}

.mouse-parallax-fg{
  position: absolute;
}

.hub{
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.window .overlay{
  display: block;
  width: 110%;
  height: 110%;
  opacity: 0.5;
  background-color: #000;
  position: relative;
  left: -5%;
  z-index: 5;
  transition: all 0.3s ease;
}

.window{
  top: 0px;
  box-sizing: border-box;
  border: 20px solid #000;
  height: 110vh;
  overflow: hidden;
  border-left-width: 10px;
  border-right-width: 10px;
  &:hover > .overlay{
    opacity: 0;
    visibility: hidden;
  }
/*
  img{
    transition: all 0.3s ease;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }

  &:hover img{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }*/
}

.skew-2-right{
  transform: skew(-2deg) rotate(1deg);
  -webkit-transform: skew(-2deg) rotate(1deg);
  -moz-transform: skew(-2deg) rotate(1deg);
}

.skew-4-left{
  transform: skew(4deg) rotate(1deg);
  -webkit-transform: skew(4deg) rotate(1deg);
  -moz-transform: skew(4deg) rotate(1deg);
}

.interactive{
  position: absolute;
  z-index: 98;
}

.lift{
  margin-top: -20px;
  border-bottom: 50px solid #000;
  position: relative;
}



.modal-element{
  border: 20px solid #000;
  margin: 0;
  font-family: 'ComicBook', arial, sans-serif;

  .modal-content{
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #ffffff;

    .modal-body{
      font-family: 'ComicBook', arial, sans-serif!important;
    }
  }
}
