.modal-dialog{
  border: 15px solid #000;
  min-height: 40%;

  .modal-header{
    font-size: 1.8em;
    border: none;
    background-color: #fff;
    border-radius: 0;
    padding: 0 1rem;
    h5{
      font-family: 'ComicBook-Bold', Arial,sans-serif;
      color: #000;
    }
    .close{
      opacity: 1;
      transition: all 0.3s ease;
      span{
        color: #000;
        margin-top:10px;
      }

      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .modal-content{
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #ffffff;

    .modal-body{
      font-size: 1.5em;

      a{
        margin-bottom: 10px;
        display: block;
        color:#000000;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-bottom: 3px solid #000000;
        min-width: 100%;
        text-align: center;
        &:hover{
          background-color: #000000;
          color: #ffffff;
          text-decoration: none;
        }
      }

      p{margin-bottom:10px;}

      iframe{
        width: 100%;
      }
    }
  }
}

.interactive-element{
  -webkit-filter: drop-shadow(5px 5px 0 #000)
  drop-shadow(-5px -5px 0 #000);
  filter: drop-shadow(5px 5px 0 #000)
  drop-shadow(-5px -5px 0 #000);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
    transform: scale(1.5);
/*    -webkit-filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));*/
  }
}
