.mouse-parallax-image{
  position: absolute;
  padding: 0;
  margin: 0;
  height: 110vh;
  width: 110vw;
  left: -20px;
  top: -20px;
  img{
    min-width: 110%;
    min-height: 110%;
  }
}


.mouse-parallax-bg{
  position: absolute;
}

.mouse-parallax-mg{
  position: absolute;
}

.mouse-parallax-fg{
  position: absolute;
}

.small-frame-top{
  img{
    width: 50%!important;
    min-width: 50%!important;
    min-height: 50%!important;
  }
}

.small-frame-bottom{
  .mouse-parallax-image{
    bottom: -44%;
    top: auto;
  }
  img{
    width: 50%!important;
    min-width: 50%!important;
    min-height: 50%!important;
  }
}

.small-frame-center{
  .mouse-parallax-image{
    bottom: -24%;
    top: auto;
  }
  img:not(.interactive-element){
    width: 50%!important;
    min-width: 50%!important;
    min-height: 50%!important;
  }
}
