.title, .breaker{
  text-align: center;
  height: calc(100% + 35px);
  h1{
    color: #58e7ff;
    line-height: 100vh;
    font-size: 3.5em;
  }

  .start-button{
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 10%;
    color: $white;
  }

  button{
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s ease;
    width: 300px;

    &:focus, &:active {
      outline: none;
      -moz-outline-style: none;
    }


    img{
      left:0;
      top:0;
      transition: transform 0.3s ease;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &.branch-redirect{
      width: 300px;
      p{
        color: $white;
      }
      position: absolute;
    }


    &:hover{
      font-size: 1.3em;
    }
    
    &:hover img{
      -webkit-transform: scale(1.2,1.2);
      -moz-transform: scale(1.2,1.2);
      -ms-transform: scale(1.2,1.2);
      -o-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
    }
  }
}

.title{
  button{
    position: absolute;
    p{
      width: 100%;
      text-align: center;
      position: absolute;
      z-index: 2;
      color: #fff;
    }
  }
}

.breaker-branch{
  h2{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    color: $white;
    font-size: 2em;
  }
}

.breaker#start{
  padding-top: 160px;
  h2{
    font-size: 1.5em;
    color: $white;
    line-height: 60px;
    height: auto;
  }
  p{
    color: $white;
    margin-bottom: 30px;
  }

  hr{
    color: $white;
    border-color: $white;
  }

  a{
    font-family: 'ComicBook-Italic', Arial, sans-serif;
    font-size: 1.3em;
    color: $white;
    transition: color 0.4s ease;
    text-decoration: none;

    &:hover{
      color: mediumblue;
    }
  }
}
